
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Задаёт высоту контейнера на всю высоту экрана */
}

.content {
    flex: 1; /* Контент занимает всё доступное пространство между Navbar и Footer */
}

footer {
    margin-top: auto;
    background-color: #f2f5f1;
    padding: 20px;
    text-align: center;
}
